<mat-toolbar color="primary">
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100% !important;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <button mat-icon-button color="white" (click)="openBottomSheet()" aria-label="Example icon button with a home icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>  Zeus Chlotes Store</span>
    </div>
    <div style="display: flex; justify-content: end;">
      <img src="https://cdn.cunapp.dev/recursos-graficos-cun/logocun40blanco.png" width="10%" alt="">
    </div>
  </div>
</mat-toolbar>
